.container {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textLine1 {
  color: black;
  font-size: 2rem;
}

.textLine2 {
  color: grey;
  font-size: 1rem;
}

.button {
  border: none;
  border-radius: 12px;
  padding: 0.75rem 2rem;

  color: aliceblue;
  background-color: #008cba;

  font-size: 1rem;
  font-weight: 600;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.roleSelect {
  width: 160px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid #8bb5ff;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

/* focus border */
.roleSelect:focus {
  border-color: #008cba;
}



