.container{
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: rgb(152, 157, 226);
    border-radius: 10px;
    margin-bottom: 30px;
}

.text {
    font-size: 1.5rem;
}

.number{
    font-size: 3rem;
}