*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10rem ;
}

.container{
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 3rem;
}