.container{
    height: 70vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(113, 173, 16);
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.score{
    border: none;
  border-radius: 12px;
  padding: 0.75rem 2rem;

  color: aliceblue;
  background-color: #008cba;

  font-size: 1rem;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
}