.container{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back{
  border: none;
  border-radius: 12px;
  padding: 0.75rem 2rem;
  color: aliceblue;
  background-color: #008cba;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}