.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
}

.form {
  background: #ffffff;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
  color: #555;
}

.input,
.select {
  padding: 0.6rem 0.7rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.2s;
}

.input:focus,
.select:focus {
  border-color: #008cba;
}

.button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  background: #008cba;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 20px;
  
}

.button:hover {
  background: #009cba;
}

.loginText{
    color: #008cba;
    font-weight: 100;
}
.loginText:hover {
    text-decoration: underline;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.label span {
  color: red;
}

.passwordWrapper {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #555;
}

.eyeIcon:hover {
  color: #008cba;
}
